
a {
    text-decoration: none;
    background-color: #ae9e8e;
    ;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

a:hover {
    background-color: #bab7a9;
}

nav ul li a:hover {
    background-color: #b19772;
  }